<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceBookParser" closeTimeout="05:20:00"
          openTimeout="05:20:00" receiveTimeout="05:20:00" sendTimeout="05:20:00"
          maxBufferPoolSize="200000000" maxReceivedMessageSize="200000000">

			<readerQuotas maxArrayLength="200000000" maxStringContentLength="200000000"/>
			<security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8730/ServiceBookParser" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceBookParser" contract="WCFServiceRef.IServiceBookParser"
        name="BasicHttpBinding_IServiceBookParser" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
